/.vscode
/.git
Dockerfile

/node_modules
/vendor
/public/build
/public/hot

/database/database.sqlite

/bootstrap/cache/*
/storage/app/*
!/storage/app/public
/storage/app/public/*
/storage/framework/cache/*
!/storage/framework/cache/data
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
